$mainColor: #e1e1e1;
$secondColor: #333;

%boxshadow {
  box-shadow: 
    9px 9px 18px #999999,
    -9px -9px 18px #ffffff;
  transition: box-shadow 650ms ease-in-out;
}

%hoverboxshadow {
  box-shadow: 
    inset 9px 9px 18px #999999,
    inset -9px -9px 18px #ffffff;
}

html,
body {
  background-color: $mainColor;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
